*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
*.mlast
*.mliast
.vscode
node_modules
release/main.js
lib/bs
.merlin
yarn.lock
package-lock.json
.bsb.lock
*.bs.js